<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact_us.css') }}">



</head>
<body>
{% extends 'base.html' %}
{% block content %}


<section class="cool">
    <img class="logo2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Mercedes-Logo.svg/2048px-Mercedes-Logo.svg.png" alt="Not found">
    <h1>+7 27272727  Phone </h1>
     <h2>MercedesBenz@gmail.com</h2>
     <h3>Address University.str  Official dealer</h3>
     
{% endblock %}

</body>
</html>